@model WebCMS.Areas.Main.Models.AlarmReportModel
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Alarm Reaport";
}

@section JavaScript{

    <link href="@Url.Content("~/Content/Themes/Shared/flexigrid/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Themes/Shared/ptTimeSelect/jquery.datetimepicker.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.datetimepicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.flexigrid.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {
            $('.tb').css('font-size', '12px');
            var _closed = window.location.search;
            var _intClosed = window.location.search.indexOf("Closed");
            _closed = _closed.substring(_intClosed, _intClosed + 8);

            if (_closed.substring(_closed.length - 1, _closed.length) == "1") {
                $('#rbnT1').attr("checked", "checked");
            }
            else if (_closed.substring(_closed.length - 1, _closed.length) == "0") {
                $('#rbnT2').attr("checked", "checked");
            }
            else if (_closed.substring(_closed.length - 1, _closed.length) == "&" || _closed.substring(_closed.length - 1, _closed.length) == "") {
                $('#rbnT3').attr("checked", "checked");
            }

            var _vendor = window.location.search;
            var _intvendor = window.location.search.indexOf("Vendor");
            _vendor = _vendor.substring(_intvendor + 7, _vendor.length);

            if (_intvendor == -1) {
                $('.cb_vName').attr("checked", "checked");
            } else {
                $('.cb_vName').each(function (index, e) {
                    if (window.location.search.indexOf($(this).val()) != -1) {
                        $(this).attr("checked", "checked");
                    }
                });
            }
            var _Post = window.location.search;
            var _intPost = window.location.search.indexOf("Post");
            _Post = _Post.substring(_intPost + 5, _Post.length);

            if ("@ViewBag.Message" != "") {
                parent.hiAlert("@ViewBag.Message");
                CloseModelWindow();
            }

            $('#message').text('');
            $('#message2').text('');
            $('.cb_vName:checked').each(function (e) {
                $('#message').append("'" + $(this).val() + "',");
            });
            $('.rbn:checked').each(function (e) {
                $('#message2').append($(this).val());
            });

            $('#message').text($('#message').text().substring(0, $('#message').text().length - 1));
            $('.flexme').flexigrid({
                width: 1214,
                height: "auto",
                @*url: '@Url.Action("JsonAlarmDeal")?StartDate=" ' + $('#StartDate').val() + "&EndDate=" + $('#EndDate').val() + "&ToolID=" + $('#ToolID').val() + "&AlarmMsg=" + $('#AlarmMsg').val() + "&Closed=" + $('#message2').text() + "&Vendor=" + $('#message').text(),*@
                dataType: 'json',
                colModel: [
                    { display: 'ID', name: 'AlarmID', width: 60, sortable: false, align: 'center', hide: true },
                    { display: 'System', name: 'System', width: 60, sortable: false, align: 'center', hide: true },
                    { display: '@WebCMS.Menu.Weekly', name: 'Weekly', width: 35, sortable: false, align: 'center', hide: true },
                    { display: '@WebCMS.Menu._DateTime', name: '_DateTime', width: 140, sortable: false, align: 'center', hide: false },
                    { display: 'Chamber ID', name: 'ToolID', width: 150, sortable: false, align: 'center', hide: false },
                    { display: '@WebCMS.Menu.Location', name: 'Location', width: 60, sortable: false, align: 'center', hide: true },
                    { display: '@WebCMS.Menu.department_name', name: 'Vendor', width: 50, sortable: false, align: 'center', hide: true },
                    { display: 'TagName', name: 'TagName', width: 60, sortable: false, align: 'center', hide: true },
                    { display: '@WebCMS.Menu.AlarmValue', name: 'AlarmValue', width: 60, sortable: false, align: 'center', hide: false },
                    { display: 'Limit Setting', name: 'TriggerLimit', width: 70, sortable: false, align: 'center', hide: false },
                    { display: '@WebCMS.Menu.AlarmMessage', name: 'AlarmMsg', width: 250, sortable: false, align: 'left', hide: false },
                    { display: 'Alarm<br /> Level', name: 'AlarmLevel', width: 35, sortable: false, align: 'center', hide: true },
                    @*
                        @if (@System.Threading.Thread.CurrentThread.CurrentUICulture.ToString() != "zh-CN")
                        { 
                         @: { display: 'AlarmID', name: 'PhoneCallAlarmID', width: 70, sortable: false, align: 'left', hide: false },
                        }
                        else
                        {
                          @: { display: 'AlarmID', name: 'PhoneCallAlarmID', width: 70, sortable: false, align: 'left', hide: true },
	                    }
                    *@
                    { display: '', name: 'SOP', width: 10, sortable: false, align: 'left', hide: true },
                    { display: 'DataLog', name: 'edit', width: 70, sortable: false, align: 'center', hide: false },

                    @if (@System.Threading.Thread.CurrentThread.CurrentUICulture.ToString() != "zh-CN")
                    {
                       @: { display: 'DataLink', name: 'edit2', width: 70, sortable: false, align: 'center', hide: false }
                    }
                ],
                procmsg: '@WebCMS.Menu.procmsg',
                rptext: '@WebCMS.Menu.rptext',
                pagestat: '@WebCMS.Menu.pagestat',
                pagetext: '@WebCMS.Menu.pagetext',
                outof: '@WebCMS.Menu.outof',
                nomsg: '@WebCMS.Menu.nomsg',
                usepager: true,
                useRp: true,
                rp: 20,
                nowrap: false,
                onSuccess: function () {
                    $('.flexme > tbody > tr > td[abbrr="SOP"]').append('')
                    $('.flexme > tbody > tr > td[abbrr="edit"] > div').empty();
                    $('.flexme > tbody > tr > td[abbrr="edit"] > div').each(function () {
                        if ($(this).parent().parent().children(':eq(11)').text() != '800' && parseInt($(this).parent().parent().children(':eq(11)').text()) < 500) {
                            $(this).parent().parent().children(':eq(8)').children('div').text('');
                        }
                        var value = $(this).parent().parent().children(':eq(8)').text();
                        var Tag_Name = $(this).parent().parent().children(':eq(7)').text();
                        if (Tag_Name.length > 0) {
                            if ((parseFloat(value) || value == '0') && $(this).parent().parent().children(':eq(11)').text() == '800' && $(this).parent().parent().children(':eq(9)').text() != 'Comm Error') {
                                $(this).append('<a href="#" class="edit" ><div style="width:100%;"><img src="@Url.Content("~/images/tt2.jpg")" alt="編輯" /></div></a>');
                            }
                        }
                    });

                    $('.edit').click(function () {
                        var time = new Date($(this).parent().parent().parent().children(':eq(3)').text());
                        var Tag_Name = $(this).parent().parent().parent().children(':eq(7)').text();
                        var toolid = $(this).parent().parent().parent().children(':eq(4)').text();
                        var StartDate = new Date(time - (1000 * 60 * 60 * 12));
                        var EndDate = new Date(time.setHours(time.getHours() + 12));
                        window.open('@Url.Action("MyChart4", "MachineGroup")?toolId=' + toolid + '&TagName=' + Tag_Name + '&StartDate=' + StartDate.getFullYear() + '-' + ((StartDate.getMonth() + 1) < 10 ? '0' + (StartDate.getMonth() + 1) : (StartDate.getMonth() + 1)) + '-' + (StartDate.getDate() < 10 ? '0' + StartDate.getDate() : StartDate.getDate()) + ' ' + (StartDate.getHours() < 10 ? '0' + StartDate.getHours() : StartDate.getHours()) + ':' + (StartDate.getMinutes() < 10 ? '0' + StartDate.getMinutes() : StartDate.getMinutes()) + '&EndDate=' + EndDate.getFullYear() + '-' + ((EndDate.getMonth() + 1) < 10 ? '0' + (EndDate.getMonth() + 1) : (EndDate.getMonth() + 1)) + '-' + (EndDate.getDate() < 10 ? '0' + EndDate.getDate() : EndDate.getDate()) + ' ' + (EndDate.getHours() < 10 ? '0' + EndDate.getHours() : EndDate.getHours()) + ':' + (EndDate.getMinutes() < 10 ? '0' + EndDate.getMinutes() : EndDate.getMinutes()) + '&flag=3&Y1Y2=Y1', '_blank', 'toolbar=no,location=no,titlebar=no,scrollbars=yes,resizable=yes,top=25,left=200,width=825,height=625');
                    });

                    $('.flexme > tbody > tr > td[abbrr="edit2"] > div').empty();

                    $('.flexme > tbody > tr > td[abbrr="edit2"] > div').each(function () {
                        if ($(this).parent().parent().children(':eq(11)').text() != '800' && parseInt($(this).parent().parent().children(':eq(11)').text()) < 500) {
                            $(this).parent().parent().children(':eq(8)').children('div').text('');
                        }
                        var value = $(this).parent().parent().children(':eq(8)').text();
                        var Tag_Name = $(this).parent().parent().children(':eq(7)').text();

                        if (Tag_Name.length > 0) {
                            if ((parseFloat(value) || value == '0' || value == '') && ($(this).parent().parent().children(':eq(11)').text() == '800' || $(this).parent().parent().children(':eq(11)').text() == '500' || $(this).parent().parent().children(':eq(11)').text() == '400') && $(this).parent().parent().children(':eq(9)').text() != 'Comm Error') {
                                //$(this).append('<a href="#" class="edit" ><div style="width:100%;"><img src="@Url.Content("~/images/tt2.jpg")" alt="編輯" /></div></a>');
                                var time = new Date($(this).parent().parent().children(':eq(3)').text());
                                var Tag_Name = $(this).parent().parent().children(':eq(7)').text();
                                var toolid = $(this).parent().parent().children(':eq(4)').text();
                                var StartDate = new Date(time - (1000 * 60 * 60 * 12));
                                var EndDate = new Date(time.setHours(time.getHours() + 12));

                                //$(this).append('<a href="@Url.Action("MyChart4", "MachineGroup")?toolId=' + toolid + '&TagName=' + Tag_Name + '&StartDate=' + StartDate.getFullYear() + '-' + ((StartDate.getMonth() + 1) < 10 ? '0' + (StartDate.getMonth() + 1) : (StartDate.getMonth() + 1)) + '-' + (StartDate.getDate() < 10 ? '0' + StartDate.getDate() : StartDate.getDate()) + ' ' + (StartDate.getHours() < 10 ? '0' + StartDate.getHours() : StartDate.getHours()) + ':' + (StartDate.getMinutes() < 10 ? '0' + StartDate.getMinutes() : StartDate.getMinutes()) + '&EndDate=' + EndDate.getFullYear() + '-' + ((EndDate.getMonth() + 1) < 10 ? '0' + (EndDate.getMonth() + 1) : (EndDate.getMonth() + 1)) + '-' + (EndDate.getDate() < 10 ? '0' + EndDate.getDate() : EndDate.getDate()) + ' ' + (EndDate.getHours() < 10 ? '0' + EndDate.getHours() : EndDate.getHours()) + ':' + (EndDate.getMinutes() < 10 ? '0' + EndDate.getMinutes() : EndDate.getMinutes()) + '&flag=3&Y1Y2=Y1" target="_blank" class="edit" ><div style="width:100%;"><img src="@Url.Content("~/images/tt2.jpg")" alt="編輯" /></div></a>');

                                if (value == '' && $(this).parent().parent().children(':eq(11)').text() == '400') {
                                    $(this).append('<a href="@Url.Action("PLCCheckDemo", "MachineGroup")?toolId=' + toolid + '&SD=' + StartDate.getFullYear() + '-' + ((StartDate.getMonth() + 1) < 10 ? '0' + (StartDate.getMonth() + 1) : (StartDate.getMonth() + 1)) + '-' + (StartDate.getDate() < 10 ? '0' + StartDate.getDate() : StartDate.getDate()) + ' ' + (StartDate.getHours() < 10 ? '0' + StartDate.getHours() : StartDate.getHours()) + ':' + (StartDate.getMinutes() < 10 ? '0' + StartDate.getMinutes() : StartDate.getMinutes()) + '&ED=' + EndDate.getFullYear() + '-' + ((EndDate.getMonth() + 1) < 10 ? '0' + (EndDate.getMonth() + 1) : (EndDate.getMonth() + 1)) + '-' + (EndDate.getDate() < 10 ? '0' + EndDate.getDate() : EndDate.getDate()) + ' ' + (EndDate.getHours() < 10 ? '0' + EndDate.getHours() : EndDate.getHours()) + ':' + (EndDate.getMinutes() < 10 ? '0' + EndDate.getMinutes() : EndDate.getMinutes()) + '&IsStack=1" target="_blank" class="edit" ><div style="width:100%;"><img src="@Url.Content("~/images/tt2.jpg")" alt="編輯" /></div></a>');
                                } else {
                                    $(this).append('<a href="@Url.Action("PLCCheckDemo", "MachineGroup")?toolId=' + toolid + '&Tag=' + Tag_Name + '&SD=' + StartDate.getFullYear() + '-' + ((StartDate.getMonth() + 1) < 10 ? '0' + (StartDate.getMonth() + 1) : (StartDate.getMonth() + 1)) + '-' + (StartDate.getDate() < 10 ? '0' + StartDate.getDate() : StartDate.getDate()) + ' ' + (StartDate.getHours() < 10 ? '0' + StartDate.getHours() : StartDate.getHours()) + ':' + (StartDate.getMinutes() < 10 ? '0' + StartDate.getMinutes() : StartDate.getMinutes()) + '&ED=' + EndDate.getFullYear() + '-' + ((EndDate.getMonth() + 1) < 10 ? '0' + (EndDate.getMonth() + 1) : (EndDate.getMonth() + 1)) + '-' + (EndDate.getDate() < 10 ? '0' + EndDate.getDate() : EndDate.getDate()) + ' ' + (EndDate.getHours() < 10 ? '0' + EndDate.getHours() : EndDate.getHours()) + ':' + (EndDate.getMinutes() < 10 ? '0' + EndDate.getMinutes() : EndDate.getMinutes()) + '&IsStack=1" target="_blank" class="edit" ><div style="width:100%;"><img src="@Url.Content("~/images/tt2.jpg")" alt="編輯" /></div></a>');
                                }
                            }
                        }
                    });

                    if (_Post == "1") {
                        $('.edit:eq(0)').click();
                        _Post = "0";
                    }
                },
                singleSelect: true,
                rpOptions: [5, 10, 15, 20, 30, 50, 100],
            });
       
            $('#StartDate').datetimepicker();
            $('#EndDate').datetimepicker({
                Time59: true
            });
          
            if ($("#StartDate").val().length == 0) {
                var dt = new Date(Date.now() - (2 * (1000 * 60 * 60 * 24)));
                $("#StartDate").val(dt.getFullYear() + '-' + ((dt.getMonth() + 1) < 10 ? '0' + (dt.getMonth() + 1) : (dt.getMonth() + 1)) + '-' + (dt.getDate() < 10 ? '0' + dt.getDate() : dt.getDate()) + ' 00:00');
            }
            if ($("#EndDate").val().length == 0) {
                var dt = new Date(Date.now());

                $("#EndDate").val(dt.getFullYear() + '-' + ((dt.getMonth() + 1) < 10 ? '0' + (dt.getMonth() + 1) : (dt.getMonth() + 1)) + '-' + (dt.getDate() < 10 ? '0' + dt.getDate() : dt.getDate()) + ' ' + (dt.getHours() < 10 ? '0' + dt.getHours() : dt.getHours()) + ':' + (dt.getMinutes() < 10 ? '0' + dt.getMinutes() : dt.getMinutes()));
            }

            if (_Post == "1") {
                ChartExport('search');
            }

            $('.alarmCount').click(function () {
                var dt = new Date(Date.now());
                $("#EndDate").val(dt.getFullYear() + '-' + ((dt.getMonth() + 1) < 10 ? '0' + (dt.getMonth() + 1) : (dt.getMonth() + 1)) + '-' + (dt.getDate() < 10 ? '0' + dt.getDate() : dt.getDate()) + ' 07:30');

                dt = new Date(Date.now() - (7 * (1000 * 60 * 60 * 24)));
                $("#StartDate").val(dt.getFullYear() + '-' + ((dt.getMonth() + 1) < 10 ? '0' + (dt.getMonth() + 1) : (dt.getMonth() + 1)) + '-' + (dt.getDate() < 10 ? '0' + dt.getDate() : dt.getDate()) + ' 07:30');

                $('#ddl_Dept').val($(this).data('department_name'));
                $('#AlarmMsg').val('');
                $('#ToolID').val('');
                $('#sbmit').click();
            });

            $('#ddl_Dept').val('@Request["Vendor"]');

            if ('@Request["search"]' == '1') {
                ChartExport('search');
            }
        });

        function ChartExport(id) {
            $('#message').text('');
            $('#message2').text('');
            if ($('#ddl_Dept').val().length == 0) {
                $('#ddl_Dept > option').slice(1).each(function (e) {
                    $('#message').append("'" + $(this).val() + "',");
                });
            } else {
                $('#message').append("'" + $('#ddl_Dept').val() + "',");
            }
            $('.cb_vName:checked').each(function (e) {
                $('#message').append("'" + $(this).val() + "',");
            });
            $('.rbn:checked').each(function (e) {
                $('#message2').append($(this).val());
            });
            $('#message').text($('#message').text().substring(0, $('#message').text().length - 1));
            var groupName = '';

            if ($('#StartDate').val() != null && $('#StartDate').val().length > 0 && $('#EndDate').val() != null && $('#EndDate').val().length > 0) {
                if ($('#message').text().length > 0) {
                    if (id == 'search') {
                        $('.flexme > tbody').empty();
                        var urlStr = '@Url.Action("JsonAlarmDeal")?StartDate="' + $('#StartDate').val() + "&EndDate=" + $('#EndDate').val() + "&ToolID=" + $('#ToolID').val() + "&AlarmMsg=" + $('#AlarmMsg').val() + "&Closed=" + $('#message2').text() + "&Vendor=" + $('#message').text() + "&gname=" + groupName + '&page=1&rp=20';
                        $(".flexme").flexOptions({ url: urlStr, newp: 1 }).flexReload();
                    } else if (id == 'alarmCount') {
                        open("@Url.Action("AlarmCountByDept")", "_blank", "", false);
                    }
                    else {
                        location.href = "@Url.Action("AlarmDeal")?StartDate=" + $('#StartDate').val() + "&EndDate=" + $('#EndDate').val() + "&ToolID=" + $('#ToolID').val() + "&AlarmMsg=" + $('#AlarmMsg').val() + "&Closed=" + $('#message2').text() + "&Vendor=" + $('#message').text() + "&gname=" + groupName + "&output=" + id;;
                    }
            }
            else { alert('@WebCMS.Menu.plaseSelectDep'); }
            }
            else {
                alert('@WebCMS.Menu.plaseSelectDate');
            }
        }
    </script>
}
<h2>Alarm Report</h2>
<table>
    <tr>
        <td>
            <div>
                <table>
                    <tr>
                        <td>
                            <table border="1" class="tb" style="width: 550px;">
                                <tr>
                                    <td style="text-align: right; display: none;">@Html.LabelFor(model => model.Type)</td>
                                    <td style="display: none;">
                                        <input type="radio" name="group1" class="rbn" value="1" id="rbnT1">
                                        <label for="rbnT1">@WebCMS.Menu.Yes</label>
                                        <input type="radio" name="group1" class="rbn" value="0" id="rbnT2">
                                        <label for="rbnT2">@WebCMS.Menu.No</label>
                                        <input type="radio" name="group1" class="rbn" value="" id="rbnT3" checked="checked">
                                        <label for="rbnT3">@WebCMS.Menu.All</label>
                                    </td>
                                    <td style="text-align: right;">
                                        <label for="lbl_vendor">@WebCMS.Menu.plaseSelectDep</label>
                                    </td>
                                    <td>
                                        <select id="ddl_Dept" name="ddl_Dept">
                                            <option value="">@WebCMS.Menu.plaseSelectOption</option>

                                            @foreach (WebCMS.Areas.Main.Models.ListModel item in ViewData["DepartmentList"] as IEnumerable<WebCMS.Areas.Main.Models.ListModel>)
                                            {
                                                <option value="@item.Text">@item.Text</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;">
                                        @Html.LabelFor(model => model.StartDate)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.StartDate)

                                    </td>
                    
                                    <td style="text-align: right;">
                                        @Html.LabelFor(model => model.EndDate)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.EndDate)
                               
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;">@Html.LabelFor(model => model.ToolID)</td>
                                    <td>@Html.EditorFor(model => model.ToolID)</td>
                                    <td style="text-align: right;">@Html.LabelFor(model => model.AlarmMsg)</td>
                                    <td>@Html.EditorFor(model => model.AlarmMsg)</td>
                                </tr>
                            
                            </table>
                        </td>
                        <td>
                           
                        </td>
                    </tr>
                </table>
                <input type="button" id="sbmit" value="@WebCMS.Menu.Query" style="width: 80px" onclick="javascript: ChartExport('search');" />&nbsp;&nbsp;&nbsp;
                <input type="button" id="btnExport" value="@WebCMS.Menu.ChartExport" style="width: 80px;" onclick="javascript: ChartExport('export');" />&nbsp;&nbsp;&nbsp;    
                <input type="button" id="btnAlarmCount" value="SPC Chart" style="width: 80px;" onclick="javascript: ChartExport('alarmCount');" />&nbsp;&nbsp;&nbsp;    
                <label id="message" style="display: none;"></label>
                <label id="message2" style="display: none;"></label>
            </div>
        </td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;&nbsp; 
        </td>
    </tr>
    <tr>
        <td>
            <table class="flexme" />
        </td>
    </tr>
</table>
