@model WebCMS.Areas.Main.Models.AlarmLimitModel
@{
    ViewBag.Title = @WebCMS.Menu.Edit;
    //Layout = null;
}
@section JavaScript{
    <script type="text/javascript">
        $(document).ready(function () {
            if ("@ViewBag.Message" != "") {
                parent.hiAlert("@ViewBag.Message");
                CloseModelWindow();
            }
        });
    </script>
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset style="width: 90%; margin: 0 auto;">
        <legend>@ViewBag.Title</legend>
        <ul class="ul">
            <li>@Html.LabelFor(model => model.FDC_Tag)</li>
            <li>@Html.HiddenFor(model => model.FDC_Tag)@Html.HiddenFor(model => model.FullTagName)@Html.DisplayFor(model => model.FDC_Tag)</li>
        </ul>
        <ul class="ul">
            <li>@Html.LabelFor(model => model.department_name)</li>
            <li>@Html.HiddenFor(model => model.department_name)@Html.HiddenFor(model => model.department_name)@Html.DisplayFor(model => model.department_name)</li>
        </ul>
        <ul class="ul">
            <li>@Html.LabelFor(model => model.IsHiEnable)</li>
            <li>@Html.RadioButtonFor(model => model.IsHiEnable, true) @WebCMS.Menu.Manually</li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li>@Html.RadioButtonFor(model => model.IsHiEnable, false) @WebCMS.Menu.Preset</li>
        </ul>
        <ul class="ul">
            <li>@Html.LabelFor(model => model.Limit_Max)</li>
            <li>@Html.TextBoxFor(model => model.Limit_Max, new { style = "width: 200px;" })</li>
        </ul>
        <ul class="ul">
            <li>@Html.LabelFor(model => model.IsLoEnable)</li>
            <li>@Html.RadioButtonFor(model => model.IsLoEnable, true) @WebCMS.Menu.Manually</li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li>@Html.RadioButtonFor(model => model.IsLoEnable, false) @WebCMS.Menu.Preset</li>
        </ul>
        <ul class="ul">
            <li>@Html.LabelFor(model => model.Limit_Min)</li>
            <li>@Html.TextBoxFor(model => model.Limit_Min, new { style = "width: 300px;" })</li>
        </ul>
        <ul class="ul">
            <li>@Html.LabelFor(model => model.login_name)</li>
            <li>@Html.DisplayFor(model => model.login_name)</li>
        </ul>
        <ul class="ul">
            <li>
                <input type="submit" value="@WebCMS.Menu.confirm" style="width: 80px" />&nbsp;&nbsp;&nbsp;</li>
            <li>
                <input type="button" value="@WebCMS.Menu.Refill" style="width: 80px" onclick="javascript: location.reload();" />&nbsp;&nbsp;&nbsp;</li>
            <li>
                <input type="button" value="@WebCMS.Menu.Cancel" style="width: 80px" onclick="CloseModelWindow();" /></li>
        </ul>
    </fieldset>
}