@*@model WebCMS.Areas.Main.Models.AlarmLimitModel
*@
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "上下限預設值設定";
}

@section JavaScript{
    <link href="@Url.Content("~/Content/Themes/Shared/flexigrid/main.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.flexigrid.js")" type="text/javascript"></script>
    <script type="text/javascript">

    $(document).ready(function () {
        $('.flexme').flexigrid({
            title: '@WebCMS.Menu.LimitList',
            width: 1000,
            height: "auto",
            //url: '@Url.Action("JsonAlarmLimit")',
            dataType: 'json',
            colModel: [                
                { display: 'Vendor Name', name: 'vendor_name', width: 70, sortable: false, align: 'center', hide: false },
                { display: 'Type Name', name: 'type_name', width: 70, sortable: false, align: 'center', hide: false },
                { display: 'Tag Name', name: 'Tag_Name', width: 90, sortable: false, align: 'center', hide: true },
                { display: 'Value Title', name: 'Eng_Comment', width: 130, sortable: false, align: 'center', hide: false },
                { display: 'Limit Max', name: 'Limit_Max', width: 70, sortable: false, align: 'center', hide: false },
                { display: 'Limit Min', name: 'Limit_Min', width: 70, sortable: false, align: 'center', hide: false },
                { display: '', name: 'edit', width: 60, sortable: false, align: 'center', hide: false }
            ],
            procmsg: '@WebCMS.Menu.procmsg',
            rptext: '@WebCMS.Menu.rptext',
            pagestat: '@WebCMS.Menu.pagestat',
            pagetext: '@WebCMS.Menu.pagetext',
            outof: '@WebCMS.Menu.outof',
            nomsg: '@WebCMS.Menu.nomsg',
            usepager: true,
            useRp: true,
            rp: 20,
            nowrap: false,
            onSuccess: function () {
                $('.flexme > tbody > tr > td[abbrr="edit"] > div').remove();
                                             
                $('.flexme > tbody > tr > td[abbrr="edit"]').each(function () {
                    //if ($(this).parent().children(':eq(0)').text() == '@Session["UserdepartmentName"]') {
                        $(this).append('<a href="#" class="edit" ><div style="width:10px;"><img src="@Url.Content("~/Content/Icons/Item.Edit.gif")" alt="@WebCMS.Menu.Edit" /></div></a>');
                    //}
                });

                $('.edit').click(function () {
                    var type_id = $('#type_info').val();
                    var Tag_Name = $(this).parent().parent().children(':eq(2)').text();
                    //console.log(type_id);
                    //console.log(Tag_Name);
                    //open('@Url.Action("EditTypeValues")?type_id=' + type_id + '&Tag_Name=' + Tag_Name);
                    
                    OpenModelWindow('@Url.Action("EditTypeValues")?type_id='+type_id+'&Tag_Name='+Tag_Name , { width: 700, height: 400, caption: "@WebCMS.Menu.Edit", onclose: function () { $('.flexme').flexReload(); } });
                });
            },
            singleSelect: true,
            rpOptions: [5, 10, 15, 20, 30, 50],
        });
        
    });

    function ChartExport(id) {
        if (id == 'search') {
            var type_id = $('#type_info').val();
            //console.log(type_id);

            var urlStr = '@Url.Action("JsonTypeValues")?type_id='+type_id+'&page=1&rp=20';
            //open(urlStr);
            $(".flexme").flexOptions({ url: urlStr });
            $('.flexme').flexReload();
        }     
    }
    </script>
}
<h2>@WebCMS.Menu.EqLimitSetting</h2>
<div align="left">
    <div>
        <table border="1" class="tb" style="width: 550px">
            <tr>
                <td style="text-align: left;">
                    <label for="type_name">Type Name</label>
                    <select id="type_info">
                        @foreach (var item in ViewBag.type_info as IEnumerable<SelectListItem>)
                        {
                            <option value="@item.Value"
                                @if (item.Selected) { 
                                    @: selected="selected"
                                }
                            >
                                @item.Text
                            </option>
                        }
                    </select>
                </td>
               
            </tr>
            <tr>
                <td style="text-align: right;"></td>
                <td style="text-align: right;"></td>
            </tr>
        </table>
        <input type="button" id="sbmit" value="@WebCMS.Menu.Query" style="width: 80px" onclick="javascript: ChartExport('search');" />
    </div>
    <table class="flexme"></table>
</div>
