@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = Request["vName"] + "設備數值資料顯示";
}

@section JavaScript{
    <link href="@Url.Content("~/Content/Themes/Shared/flexigrid/main.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('.tb').css('font-size', '12px');

            if ($('#toolidinput[value*="*"]').length) {
                $("#toolid option:nth-child(1)").attr("selected", true);
                $("#toolid option:selected").attr("selected", "");
                $("#toolid").attr("disabled", true);
            };

            $('#toolidinput').keyup(function (event) {
                changeIndex($("#toolidinput").val());
            });

            $('#toolidinput').keypress(function (e) {
                if (e.keyCode == 13 && $('#toolidinput').val().length > 0) {
                    //ChartExport('search');
                    var _option;
                    $('.rbn:checked').each(function (e) {
                        _option = $(this).val();
                    });
                    location.href = '@Url.Action("MachineValue")?vName=@Request["vName"]&Toolid=' + $("#toolid").val() + '&Device=' + $("#device").val() + '&output=search&option=' + _option;
                }
            });

            function changeIndex(chkvalue) {
                var objval; var isFound; var tempval;
                if ((chkvalue == "")) {
                    $("#toolid option:nth-child(1)").attr("selected", true);
                    isFound = false;
                    return;
                };
                if (chkvalue.indexOf("*") >= 0) {
                    $("#toolid option:nth-child(1)").attr("selected", true);
                    $("#toolid option:selected").attr("selected", "");
                    $("#toolid").attr("disabled", true);
                } else {
                    if (!isFound) {
                        $("#toolid").attr("disabled", false);
                        $('#toolid>option[value^=' + chkvalue.toUpperCase() + '],#toolid>option[value^=' + chkvalue + ']').first().attr("selected", true);
                        isFound = true;
                    };
                }; return;
            };

            var _option = window.location.search;
            var _intoption = window.location.search.indexOf("option");
            _option = _option.substring(_intoption, _intoption + 8);

            if (_option.substring(_option.length - 1, _option.length) == "0") {
                $('#rbnT1').attr("checked", "checked");
                $('#lbl_device').css("display", "block");
                $('#ddlVS').css("display", "none");
                $('#lbl_toolid').css("display", "block");
            }
            else if (_option.substring(_option.length - 1, _option.length) == "1") {
                $('#rbnT2').attr("checked", "checked");
                $('#lbl_device').css("display", "block");
                if ('@Request["vName"]' == 'DAS') {
                    $('#ddlVS').css("display", "block");
                }
                else {
                    $('#ddlVS').css("display", "none");
                }
                $('#lbl_toolid').css("display", "none");
            }
            else if (_option.substring(_option.length - 1, _option.length) == "2") {
                $('#rbnT3').attr("checked", "checked");
                $('#lbl_device').css("display", "none");
                if ('@Request["vName"]' == 'DAS') {
                    $('#ddlVS').css("display", "block");
                }
                else {
                    $('#ddlVS').css("display", "none");
                }
                $('#lbl_toolid').css("display", "none");
            }
            else {
                $('#rbnT1').attr("checked", "checked");
                $('#lbl_device').css("display", "block");
                $('#ddlVS').css("display", "none");
                $('#lbl_toolid').css("display", "block");
            }
            $(".rbn").change(function () {
                $('.rbn:checked').each(function (e) {
                    if ($(this).val() == "0") {
                        $('#lbl_device').css("display", "block");
                        $('#ddlVS').css("display", "none");
                        $('#lbl_toolid').css("display", "block");
                    }
                    else if ($(this).val() == "1") {
                        $('#lbl_device').css("display", "block");
                        if ('@Request["vName"]' == 'DAS') {
                            $('#ddlVS').css("display", "block");
                        }
                        else {
                            $('#ddlVS').css("display", "none");
                        }
                        $('#lbl_toolid').css("display", "none");
                    }
                    else if ($(this).val() == "2") {
                        $('#lbl_device').css("display", "none");
                        if ('@Request["vName"]' == 'DAS') {
                            $('#ddlVS').css("display", "block");
                        }
                        else {
                            $('#ddlVS').css("display", "none");
                        }
                        $('#lbl_toolid').css("display", "none");
                    }
                });
            });

            $("#device").change(function () {
                //var _vName = window.location.search;
                //var _intvName = window.location.search.indexOf("vName");
                //_vName = _vName.substring(_intvName + 6, _vName.length).split("&", 1);
                //var gName = null;
                //var option = null;
                //$('#device').each(function (e) {
                //    gName = $(this).val();
                //})
                option = $('.rbn:checked').val();
                if (option == "0") {
                    var selectedValue = $('#device option:selected').val();
                    var vendorname = '@Request["vName"]';

                    $.post('@Url.Action("JsonMachineValue")', [{ name: 'Vendor', value: vendorname }, { name: 'Device', value: selectedValue == "請選擇" ? "" : selectedValue }], function (data) {
                        $('#toolid').empty();
                        $('#toolid').append($('<option></option>').val('').text('請選擇'));
                        $.each(data, function (i, item) {
                            $('#toolid').append($('<option></option>').val(item.Value).text(item.Value));
                        });
                    }, 'json');
                }
            });
        });
        //查詢&匯出
        function ChartExport(id) {
            var _vendor = window.location.search;
            var _intvendor = window.location.search.indexOf("vName");
            _vendor = _vendor.substring(_intvendor + 6, _vendor.length);
            var rbn1;
            var ddlDevice;
            var ddltoolid;
            var rbn2;
            $('.rbn:checked').each(function (e) {
                rbn1 = $(this).val();
            });
            if (rbn1 == "2") {
                ddlDevice = "";
                ddltoolid = "";
            }
            else if (rbn1 == "0") {
                ddlDevice = $('#device').val();
                ddltoolid = $('#toolid').val();
            } else if (rbn1 == "1") {
                ddlDevice = $('#device').val();
                ddltoolid = "";
            }
            var _option;
            $('.rbn:checked').each(function (e) {
                _option = $(this).val();
            });
            var _sytle = $('#ddlVS').val();
            location.href = '@Url.Action("MachineValue")?vName=@Request["vName"]&Toolid=' + ddltoolid + '&Device=' + ddlDevice + '&output=' + id + '&option=' + _option + '&ValueStyle=' + _sytle;
        }
    </script>
}
<h2>@Request["vName"] 設備數值資料顯示</h2>
@Html.Partial("MachineGroupTitle", ViewData["PageName"] = "MachineValue")
<hr />
<div>
    <table border="1" class="tb" style="width: 950px">
        <tr>
            <td>
                <input type="radio" name="group1" class="rbn" value="0" id="rbnT1" checked="checked">
                <label for="rbnT1">檢視單機資料</label>
                <input type="radio" name="group1" class="rbn" value="1" id="rbnT2">
                <label for="rbnT2">檢視同課別資料</label>
                <input type="radio" name="group1" class="rbn" value="2" id="rbnT3">
                <label for="rbnT3">檢視全部設備資料</label>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            <div id="lbl_device">
                                <label>請選擇課別</label>@Html.DropDownList("device", ViewBag.Device as IEnumerable<SelectListItem>, "請選擇")
                            </div>
                        </td>
                        <td>
                            <select id="ddlVS">
                                <option value="" selected="selected">全部</option>
                                <option value="R">右側</option>
                                <option value="L">左側</option>
                            </select>
                        </td>
                        <td>
                            <div id="lbl_toolid">
                                <label>請選擇設備</label>
                                <input type='text' placeholder='輸入Tool ID' id="toolidinput" />
                                <select id="toolid" name="toolid">
                                    <option>請選擇</option>
                                    @if (ViewBag.ToolID != null)
                                    {
                                        foreach (var item in ViewBag.ToolID as IEnumerable<SelectListItem>)
                                        {
                                        <option value="@item.Value">@item.Value</option>
                                        }
                                    }
                                </select>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <input type="button" id="sbmit" value="查詢" style="width: 80px" onclick="javascript: ChartExport('search');" />&nbsp;&nbsp;&nbsp;
    <input type="button" id="btnExport" value="匯出" style="width: 80px" onclick="javascript: ChartExport('export');" />&nbsp;&nbsp;&nbsp;
    <label id="message" style="display: none;"></label>
    <label id="message2" style="display: none;"></label>
</div>

@if (ViewBag.dtMachineValue != null)
{
    <table border="0" style="border-spacing: 1px 1px; padding: 2px 2px 2px 2px;">
        <thead>
            <tr style="background: #333333;">
                <td style="width: 60px; text-align: center; vertical-align: middle; color: #00ccff; font-size: 12px;" rowspan="2">Toolid</td>
                @*<td style="width: 60px; text-align: center; vertical-align: middle; color: #00ccff; font-size: 12px;" rowspan="2">課別</td>*@
                <td style="width: 60px; text-align: center; vertical-align: middle; color: #00ccff; font-size: 12px;" rowspan="2">Locationid</td>
                <td style="width: 60px; text-align: center; vertical-align: middle; color: #00ccff; font-size: 12px;" rowspan="2">柱位</td>
                <td style="width: 60px; text-align: center; vertical-align: middle; color: #00ccff; font-size: 12px;" rowspan="2">設備型號</td>
                <td style="width: 60px; text-align: center; vertical-align: middle; color: #00ccff; font-size: 12px;" rowspan="2">部門</td>
                <td style="width: 900px; text-align: center; height: 20px; vertical-align: middle; color: #00ccff; font-size: 12px;" colspan="@ViewBag.dtMachineValue.Columns.Count-15">設備數值</td>
            </tr>
            <tr style="background: #333333;">
                @for (int i = 7; i <= ViewBag.dtMachineValue.Columns.Count - 1; i++)
                {
                    <td style="text-align: center; height: 20px; vertical-align: middle; color: #00ccff; font-size: 12px;">@ViewBag.dtMachineValue.Columns[i].ColumnName</td>
                }
            </tr>
        </thead>
        <tbody>
            @{ string GroupName = "123456789"; }
            @for (int j = 0; j <= ViewBag.dtMachineValue.Rows.Count - 1; j++)
            {
                if (GroupName != (string.IsNullOrEmpty(ViewBag.dtMachineValue.Rows[j][1].ToString()) ? "" : ViewBag.dtMachineValue.Rows[j][1]))
                {
                <tr>
                    <td colspan="@ViewBag.dtMachineValue.Columns.Count" style="font-size:medium;text-align: center;background-color:#008B8B;color:#FFFAFA;font-weight:bold;">@(string.IsNullOrEmpty(ViewBag.dtMachineValue.Rows[j][1].ToString()) ? "" : ViewBag.dtMachineValue.Rows[j][1]) 課別</td>
                </tr>
                    GroupName = (string.IsNullOrEmpty(ViewBag.dtMachineValue.Rows[j][1].ToString()) ? "" : ViewBag.dtMachineValue.Rows[j][1]);
                }
                <tr style="background-color: @(j % 2 == 0 ? "#AAAAAA" : "#CCCCCC") ">
                    @for (int i = 0; i <= ViewBag.dtMachineValue.Columns.Count - 1; i++)
                    {
                        if (i == 4 || i == 1)
                        {
                            continue;
                        }

                        if (ViewBag.dtMachineValue.Rows[j].IsNull(i))
                        {
                            <td style="text-align: center; vertical-align: middle; font-size: x-small; color: gray">N/A</td>
                        }
                        else
                        {
                        <td style="text-align: center; vertical-align: middle; font-size: small">
                            @(ViewBag.dtMachineValue.Rows[j][i])
                        </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
}
else if (Request["output"] == "search")
{
    <div style="text-align: center; color: red;">無資料</div>
}
<br />
