@{
    ViewBag.Title = "TrendChart";
}

<script type="text/javascript">
    //var vName = '@ViewData["vName"]';
    //var toolId = '@ViewData["toolId"]';
    //var TagName = '@ViewData["TagName"]';
    //var StartDate = '@ViewData["StartDate"]';
    //var EndDate = '@ViewData["EndDate"]';
    //var flag = '@ViewData["flag"]';
    //var Y1Y2 = '@ViewData["Y1Y2"]';
    //var isLimit = '@ViewData["isLimit"]';
    //var isStack = '@ViewData["isStack"]';

    //var EditStartDate = StartDate;
    //var EditEndDate = EndDate;

    //var mousedownX = 0;
    //var mousedownY = 0;
    //var mouseupX = 0;
    //var Rangeflag = 0;
    //$(function () {
    //    $("#chart").css('background-image', 'url("/Main/MachineGroup/MyChart?vName=' + vName + '&toolId=' + toolId + '&TagName=' + TagName + '&StartDate=' + StartDate + '&EndDate=' + EndDate + '&flag=' + flag + '")')
    //});
</script>
<div id="chart" style="position: relative;z-index:100;height:6000px;background-repeat:no-repeat;background-image:url('/Main/MachineGroup/MyChart?vName=@ViewData["vName"]&toolId=@ViewData["toolId"]&TagName=@ViewData["TagName"]&StartDate=@ViewData["StartDate"]&EndDate=@ViewData["EndDate"]&flag=@ViewData["flag"]')" >
</div>
<div  style="background-color:rgba(0%,0%,0%,0.5);width: 800px; height: 600px;vertical-align:middle;text-align:center;position:absolute;">
    <img style="width:100px;height:100px;margin:0 auto;vertical-align: middle;position:absolute;top:250px;left:350px;" src="/Content/Icons/circle_animation.gif" alt="Loading" />
</div>

