@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>FABSelect</title>
</head>
<body>
    <div style=" width: 1214px;">
        <table border="0" style="padding: 0px 0px 0px 0px; border-spacing: 0px 0px; border-collapse: collapse;">
            <tr>
                <td style="border-collapse: collapse;background-image: url(@Url.Content("~/images/Top_1.gif")); height: 46px; text-align:right; vertical-align:bottom; width:411px"></td>
                <td style="border-collapse:collapse; background-image: url(@Url.Content("~/images/Top_2.gif"));background-repeat: no-repeat; height: 46px; text-align:right; vertical-align:bottom; width:443px;background-color: #5988c7;">
                    <span style="font-size: 16px; font-weight: bold; background-color: white;">
                        <label id="showLeft" style="font-size: 14px; font-weight: bold;"></label>
                    </span>
                </td>
                <td style="border-collapse:collapse; background-image: url(@Url.Content("~/images/Top_3.gif")); background-position: -35px; width: 360px;"></td>
            </tr>
        </table>
        <div style="height:200px"></div>
        <div style="text-align:center;vertical-align:central;width:100%">
            <a href="http://10.12.9.213/Main/Login/LoginPage"><img src="@Url.Content("~/images/Portal_P5.png")" /></a>
            <a href="http://10.12.9.214/Main/Login/LoginPage"><img src="@Url.Content("~/images/Portal_ProjectM.png")" /></a>
        </div>
    </div>
</body>
</html>
